VITE_FIREBASE_API_KEY = AIzaSyD70uPnsoFOpUFTGMPtExrrdGevSZK6Pwo
VITE_FIREBASE_AUTH_DOMAIN = sk-body-first-gym.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sk-body-first-gym
VITE_FIREBASE_STORAGE_BUCKET=sk-body-first-gym.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=916718416830
VITE_FIREBASE_APP_ID=1:916718416830:web:b2a8c585f0abfa92a9ffef
